.gpt4_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.gpt4_navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt4_navbar-links_logo{
    margin-right: 2rem ;
}

.gpt4_navbar-links_logo img{
    width: 62px;
    left: 0;
}

.gpt4_navbar-links_container{
    display: flex;
    flex-direction: row;
}

.gpt4_navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gpt4_navbar-links_container p,
.gpt4_navbar-sign p,
.gpt4_navbar-menu_container p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.gpt4_navbar-sign button,
.gpt4_navbar-menu_container button{
    padding: 0.5rem 1rem ;
    font-size: 18px;
    line-height: 25px;

    background-color: rgb(1, 5, 255);
    border-radius: 10px;
    color: aliceblue;
    font-family: var(--font-family);
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
}

.gpt4_navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.gpt4_navbar-menu svg{
    cursor: pointer;
}

.gpt4_navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 3rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 10 black;
}

.gpt4_navbar-menu_container p {
    margin: 1rem 0;

}

.gpt4_navbar-menu_container-links-sign{
    display: none;
}

@media screen and (max-width: 1050px){
    .gpt4_navbar-links_container{
        display: none;
    }

    .gpt4_navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .gpt4_navbar{
        padding: 2rem 4rem;
    }    
}

@media screen and (max-width: 550px) {
    .gpt4_navbar{
        padding: 2rem;
    }

    .gpt4_navbar-sign{
        display: none;
    }
    .gpt4_navbar-menu_container{
        top: 20px;
    }

    .gpt4_navbar-menu_container-links-sign{
        display: block;
    }
}